.container-fluid_h1 {
    background-color: lightblue;
    justify-content: center;
    border-color: black;
    border-width: 2px;
    text-align: center;
}

div.body {
    background-color: lightyellow;
    padding: 5px;
    border-color: black;
    border-width: 2px;
}
