.timetable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    justify-self: left;
}

.timetable th {
    border: 1px solid #ddd;
    background-color: lightgreen;
    border: 1px solid black;
    height: 40px;
    text-align: center;
}

.timetable td {
    border: 1px solid black;
}

.timeslot {
    width: 10%;
    background-color: #fff;
    transition: background-color 0.3s;
    border: 1px solid black;
    height: 20px;
}

.timeslot.selected {
    background-color: grey;
}

.timeslot.pselected {
    background-color: lightblue;
}

.timeslot:hover {
    border: 3px dotted black; 
}

.timeslot.toggle-1 {
    background-color: red;
}

.timeslot.toggle-2 {
    background-color: blue;
}

.timeslot.toggle-3 {
    background-color: green;
}

.timeslot.toggle-4 {
    background-color: yellow;
}

.timeslot.toggle-5 {
    background-color: purple;
}

.timeslot.toggle-6 {
    background-color: orange;
}

.timeslot.toggle-7 {
    background-color: pink;
}

.timeslot.toggle-8 {
    background-color: brown;
}

.timeslot.toggle-9 {
    background-color: cyan;
}

.timeslot.toggle-10 {
    background-color: lime;
}

.event {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event button {
    font-size: 0.8rem;
}

