{% extends "base.html" %}

{% block head_scripts %}
  <script src="{{ url_for('static', filename='timetable.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='timetable.css') }}">
{% endblock %}

{% block title %}Create Plan{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <table id="timetable" class="timetable table-striped">
        <thead>
          <tr>
            <div class="col-md-1"><th>Time</th></div>
            <div class="col-md-1"><th>Mon</th></div>
            <div class="col-md-1"><th>Tue</th></div>
            <div class="col-md-1"><th>Wed</th></div>
            <div class="col-md-1"><th>Thu</th></div>
            <div class="col-md-1"><th>Fri</th></div>
            <div class="col-md-1"><th>Sat</th></div>
            <div class="col-md-1"><th>Sun</th></div>
          </tr>
        </thead>
        <tr>
          <td>8:00AM</td>
          <td class="timeslot" id="slot1"></td>
          <td class="timeslot" id="slot2"></td>
          <td class="timeslot" id="slot3"></td>
          <td class="timeslot" id="slot4"></td>
          <td class="timeslot" id="slot5"></td>
          <td class="timeslot" id="slot6"></td>
          <td class="timeslot" id="slot7"></td>
        </tr>
        <tr>
          <td>8:30AM</td>
          <td class="timeslot" id="slot1"></td>
          <td class="timeslot" id="slot2"></td>
          <td class="timeslot" id="slot3"></td>
          <td class="timeslot" id="slot4"></td>
          <td class="timeslot" id="slot5"></td>
          <td class="timeslot" id="slot6"></td>
          <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:00AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:30AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:00AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:30AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>11:00AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>11:30AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>12:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>12:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>1:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>1:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>2:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>2:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>3:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>3:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>4:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>4:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>5:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>5:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>6:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>6:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>7:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>7:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>8:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>11:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
    </table>
  </div>

  <div class="col-md-4">
    <button class="toggle" id="toggle-selected">Fully Unavailable</button>
    
    <button class="toggle" id="toggle-pselected">Partially Unavailable</button>

    <form>
      <div class="request-table">
        <label for="request-table">Request Timetable</label>
        <input type="text" id="Id" name="Id" class="form-control" placeholder="Enter User Id" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

</div>
{% endblock %}
