{% extends "base.html" %}

{% block head_scripts %}
  <script src="{{ url_for('static', filename='timetable.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='timetable.css') }}">
{% endblock %}

{% block title %}Create Plan{% endblock %}

{% block content %}

<div class="row">
  {% include 'timetable.html' %}

  <div class="col-md-4">
    <button class="toggle" id="toggle-selected">Fully Unavailable</button>
    
    <button class="toggle" id="toggle-pselected">Partially Unavailable</button>

    <form>
      <div class="request-table">
        <label for="request-table">Request Timetable</label>
        <input type="text" id="Id" name="Id" class="form-control" placeholder="Enter User Id" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

</div>
{% endblock %}
