{% extends "base.html" %}

{% block head_scripts %}
  <script src="{{ url_for('static', filename='timetable.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='timetable.css') }}">
{% endblock %}

{% block content %}

<div class="row">
  {% include 'timetable.html' %}
  <div class="col-md-4">
    <button class="toggle" id="toggle-selected">Fully Unavailable</button>
    
    <button class="toggle" id="toggle-pselected">Partially Unavailable</button>

    <form>
      <div class="assessment-form">
        <label for="assessment-name">Assessment Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter assessment name" required>
      </div>
      <div class="assessment-form">
        <label for="assessment-date">Due Date</label>
        <input type="date" id="date" name="date" class="form-control" required>
      </div>
      <button type="submit">Submit</button>
    </form>

    <div id="activity-container">
        <!-- New activities will be added here -->
        <button id="add-button">+</button>
    </div>
    <button id="save-timetable" class="btn btn-primary mt-3">Save Timetable</button>

  </div>
</div>

<!-- Pass user activities data to JavaScript -->
{% if user_activities %}
<script>
  window.userSavedActivities = {{ user_activities|tojson }};
</script>
{% else %}
<script>
  window.userSavedActivities = [];
</script>
{% endif %}

{% endblock %}