<div class="col-md-8">
    <!-- ===== Timetable Table ===== -->
    <table id="timetable" class="timetable table-striped">
        <thead>
          <tr>
            <!-- Table headers for each day of the week and time -->
            <th>Time</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>

        <!-- ===== Timetable Rows by Time Slot ===== -->
        <!-- Each row represents a 30-minute interval from 8:00AM to 11:00PM -->
        <!-- First <td> = time label; the rest are clickable cells (class 'timeslot') -->

        <!-- Example Row -->
        <tr>
          <td>8:00AM</td>
          <td class="timeslot" id="slot1"></td>
          <td class="timeslot" id="slot2"></td>
          <td class="timeslot" id="slot3"></td>
          <td class="timeslot" id="slot4"></td>
          <td class="timeslot" id="slot5"></td>
          <td class="timeslot" id="slot6"></td>
          <td class="timeslot" id="slot7"></td>
        </tr>
        <tr>
          <td>8:30AM</td>
          <td class="timeslot" id="slot1"></td>
          <td class="timeslot" id="slot2"></td>
          <td class="timeslot" id="slot3"></td>
          <td class="timeslot" id="slot4"></td>
          <td class="timeslot" id="slot5"></td>
          <td class="timeslot" id="slot6"></td>
          <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:00AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:30AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:00AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:30AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>11:00AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>11:30AM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>12:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>12:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>1:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>1:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>2:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>2:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>3:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>3:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>4:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>4:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>5:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>5:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>6:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>6:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>7:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>7:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>8:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>9:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>10:30PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
      <tr>
        <td>11:00PM</td>
        <td class="timeslot" id="slot1"></td>
        <td class="timeslot" id="slot2"></td>
        <td class="timeslot" id="slot3"></td>
        <td class="timeslot" id="slot4"></td>
        <td class="timeslot" id="slot5"></td>
        <td class="timeslot" id="slot6"></td>
        <td class="timeslot" id="slot7"></td>
      </tr>
    </table>
</div>